body {
    background-color: #f2f2f2; /* لون خلفية الصفحة */
    font-family: Arial, sans-serif;
}

h2.dd {
    text-align: center;
    color: #007BFF;
}
h2.ss{
    color: #333;
    text-align:right;
}

form {
    background-color: #fff; /* لون خلفية النموذج */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* ظلال النموذج */
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #333; /* لون النص */
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007BFF; /* لون خلفية زر الإرسال */
    color: #fff; /* لون النص على زر الإرسال */
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* تغيير لون خلفية زر الإرسال عند التحويم */
}